/* Dynamic Div BEGIN */
.hover_bkgr_fricc,
#DynamicDivPopup
 {
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:100px;
    width:100%;
    z-index:10000;
}



#DynamicDivPopup .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
#DynamicDivPopup > div {
    box-shadow: 10px 10px 60px;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    border: 3px solid;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}



.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Dynamic Div  End */