<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

      <!--Netbackup Dev-->
    <!--<add name="Entities" connectionString="metadata=res://*/ClassSchedule.csdl|res://*/ClassSchedule.ssdl|res://*/ClassSchedule.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Netbackup\mvlcdb;initial catalog=MVLC.LIVE;Password=LE@rN!ng2day!;user Id=MVCLDB_WebUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MVLC_LIVE_Entities" connectionString="metadata=res://*/Entities.MVLC.csdl|res://*/Entities.MVLC.ssdl|res://*/Entities.MVLC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Netbackup\mvlcdb;initial catalog=MVLC.LIVE;persist security info=True;user id=MVCLDB_WebUser;password=LE@rN!ng2day!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="NetbackupDev" connectionString="metadata=res://*/Entities.MVLC.csdl|res://*/Entities.MVLC.ssdl|res://*/Entities.MVLC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Netbackup\mvlcdb;initial catalog=MVLC.LIVE;persist security info=True;user id=MVCLDB_WebUser;password=LE@rN!ng2day!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <!-- MVLC Dev
    <add name="Entities" connectionString="metadata=res://*/ClassSchedule.csdl|res://*/ClassSchedule.ssdl|res://*/ClassSchedule.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER\DEV;initial catalog=MVLC.LIVE;Password=LE@rN!ng2day!;user Id=MVCLDB_WebUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MVLC_LIVE_Entities" connectionString="metadata=res://*/Entities.MVLC.csdl|res://*/Entities.MVLC.ssdl|res://*/Entities.MVLC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server\Dev;initial catalog=MVLC.LIVE;persist security info=True;user id=MVCLDB_WebUser;password=LE@rN!ng2day!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->  
  

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>