@model MVLC.WEB.ViewModels.HoursClassSelectViewModel
@{
    ViewBag.Title = "Update";
}




<div class="OuterTableWrapper">
    <div class="TableSelectorSection">
        <div class="Small2Column">
            <div class="Small2Column" style="padding-top:1px;">
                Term:
            </div>
            <div class="Big2Column">
                @Html.Partial("_DropDownDivPartial", Model.TermsDD)
            </div>
            <div style="clear:both;"></div>

            <div class="Small2Column " style="padding-top:1px;">
                Tutor:
            </div>
            <div class="Big2Column ">
                @Html.Partial("_DropDownDivPartial", Model.TutorsDD)
            </div>

        </div>


        <div class="Big2Column">
            <div id="ClassesDD_Div">
                <div class="Small2Column">Class:  </div>
                <div class="Big2Column">
                    @Html.Partial("_DropDownDivPartial", Model.ClassesDD)
                </div>
            </div>

        </div>




        <div id="LoadingDiv" style="display:none">
            <div class="loader"></div>
            Retrieving Data...
        </div>

    </div>

    <div id="GridSection">

    </div>
</div>

@section CustomScripts
   {

   
}


@section scripts
{

    <script type="text/javascript">

            $('#ClassesDD_Div').hide();

            $('#GridSection').hide();
            $('#Classes').hide();
            function TermChanged(DropDownID, newText, newValue) {
                $('#ClassesDD_Div').hide();
                ClassesChanged(DropDownID, newText, newValue);
            }

            function TutorChanged(DropDownID, newText, newValue) {
                var TutorValue = $('#HF_Value_TutorsDD').val();
                if (TutorValue > 0) {
                    $('#ClassesDD_Div').show();
                }
                else
                {
                    $('#ClassesDD_Div').hide();
                }
                ClassesChanged(DropDownID, newText, newValue);
            }
            function ClassesChanged(DropDownID, newText, newValue) {
                //!!!!Can't used the passed new value, since other DD's may call
                //Getting value from HF_Value_ClassesDD directly
                var ClassValue = $('#HF_Value_ClassesDD').val();
                TestAlert(ClassValue);
                if (ClassValue > 0) {

                    $('#LoadingDiv').show();
                    /* Request the partial view with .get request. */
                    $.get('/Hours/Update/' + newValue, function (data) {
                        $('#GridSection').html(data);
                        $('#GridSection').fadeIn('fast');
                        $('#LoadingDiv').hide();
                       // TestAlert('ss');
                        OnGridReady();

                        SetActiveRow(1);
                    });
                }
                else {
                    $('#GridSection').hide();
                }

            }

            function OnGridReady() {
                //  TestAlert('ds');
               // GridInit();
                SetActiveandMaxColumns();
                MaxRow = document.getElementsByClassName('DataRow').length
                UpdateClassTotalsForAllRows();
                UpdateTotalsForAllColumns();
                MarkMissingHours();
                SetAllColumnVisibility();

             //   GridInit();
            }

            function HoursDropDownClick(idText) {
                var DDR_isVisible = $('#DDR' + idText).css('display') == 'block';

                if (DDR_isVisible) {
                    $('#DDR' + idText).css("display", "none");
                    $('#RadioDiv' + idText).css("display", "block");
                }
                else {
                    $('#DDR' + idText).css("display", "block");
                    $('#RadioDiv' + idText).css("display", "none");
                //    alert($('#DDR' + idText).css('display'));
                }
                //DDSelector
                $(document).mouseup(function (e) {

                var ddSelect = $('#' + 'DDSelector' + idText);
                //alert('ff');
                var ClickedOutsideDDSelector = (!ddSelect.is(e.target) && ddSelect.has(e.target).length === 0);
               // alert('Clicked DDSelect: ' + ClickedinDDSelector);

                var ddr = $('#' + 'DDR' + idText);
                var ClickedOutsideDDR = (!ddr.is(e.target) && ddr.has(e.target).length === 0);

                if (ClickedOutsideDDSelector && ClickedOutsideDDR) {
                    $('#DDR' + idText).css("display", "none");
                    $('#RadioDiv' + idText).css("display", "block");
                }

               // alert('Clicked DDR: ' + ClickedinDDR);
                });

                //        $('#DDR' + idText).css("display", "none");
                    //        $('#BottomDiv' + idText).css("display", "block");

                //$(document).mouseup(function (e) {

                //    var ddr = $('#' + 'DDR' + idText);
                //    var BottomDiv = $('#' + 'BottomDiv' + idText);


                //    // if the target of the click isn't the container nor a descendant of the container
                //    if (!ddr.is(e.target) && ddr.has(e.target).length === 0) {
                //        $('#DDR' + idText).css("display", "none");
                //        $('#BottomDiv' + idText).css("display", "block");
                //    }
                //});


            }

            function ToggleMissingDisplay(column) {


              //  var vis = $('#MissingHoursDetailsDiv' + column).is(":visible");
//
           //     $(".MissingHoursDetails").hide();

                SetActiveColumn(column);
              //  if (!vis) { $('#MissingHoursDetailsDiv' + column).show(); }

            }

            function SetHideDiv(activeDivID)
            {
                $(document).mouseup(function (e) {
                    var container = $('#' + activeDivID);

                    // if the target of the click isn't the container nor a descendant of the container
                    if (!container.is(e.target) && container.has(e.target).length === 0) {
                        container.hide();
                    }
                });
            }






            function SetElementText(elemID, newText) {
                TestAlert(newText);
                var elem = $('#' + elemID);
                elem.text(newText);
                TestAlert(elem.text());
            }

   




            function UpdateTotalsForColumn(column) {
                var hrsTotal = 0;
                var numberAttended = 0;
               // TestAlert('MaxRow'+ MaxRow);
                for (var i = 1; i <= MaxRow; i++) {
                    var idTxt = "Text_" + i + "_" + column;
                    var currentValue = $('#' + idTxt).text();
                    //TestAlert('current:'+currentValue);
                    hrsTotal = parseFloat(hrsTotal) + parseFloat(currentValue);
                    if (parseFloat(currentValue) > 0) { numberAttended++; }
                }
                $('#ColumnTotal' + column).text(hrsTotal);
                $('#TotalAttendeesColumn' + column).text(numberAttended);
                // TestAlert('hrstotal'+hrsTotal)



                return hrsTotal

            }
            function UpdateTotalsForAllColumns() {
               // TestAlert('MaxColumn' + MaxColumn);
               // TestAlert('MaxRow' + MaxRow);
                for (var i = 1; i <= MaxColumn; i++) {
                    UpdateTotalsForColumn(i);
                }
            }
            function MarkMissingHoursForColumn(column) {
                var elem = $('#DateColumn' + column);
                $('#DateColumn' + column).removeClass("HasHours");
                //TestAlert('Col' + column);
               // TestAlert('sss' + $('#ColumnTotal' + column).val());

                $('#DateColumn' + column).removeClass('HasHours');
                $('#DateColumn' + column).removeClass('MissingHours');
                $('#DateColumn' + column).removeClass('NoClass');

                if ($('#ColumnTotal' + column).text() > 0) {
                    $('#DateColumn' + column).addClass('HasHours');
                }
                else {
                    if ($('#ColumnClassMet' + column).val() == 'N') {
                        $('#DateColumn' + column).addClass('NoClass');
                    }
                    else {
                        $('#DateColumn' + column).addClass('MissingHours');
                    }
                }
            }

            function MarkMissingHours()
            {

                for (var i = 1; i <= MaxColumn; i++) {
                    MarkMissingHoursForColumn(i);
                }

            }

            function UpdateClassTotalsForAllRows() {
                var count = $('tr[id^="DataRow"]').length;
                for (var i = 1; i <= count; i++) {
                    UpdateClassTotals(i);
                }
            }
            function UpdateClassTotals(row) {
               // TestAlert('UpdatingRowTotals');
                var HoursTotalElem = $('#' + "HoursTotal" + row);
                var ClassTotalElem = $('#' + "ClassTotal" + row);
                var classTotal = 0;
                var hrsTotal = 0;

                for (var i = 1; i <= MaxColumn; i++) {
                    var idTxt = "Text_" + row + "_" + i;
                    var currentValue = $('#' + idTxt).text();
                   // TestAlert(currentValue);
                    hrsTotal = parseFloat(hrsTotal) + parseFloat(currentValue);
                    if (parseFloat(currentValue) > 0) {
                        classTotal++;

                    }
                }
               // TestAlert('hrsTotal' + hrsTotal + ' -ClassTotal:' + classTotal);
                ClassTotalElem.html(classTotal);
                HoursTotalElem.html(hrsTotal);
                // TestAlert(ClassTotalElem.html());
            }
            function DisplaySavedMessage(row) {
                var msgElem = $('#' + "RowMsg" + row);
                // document.getElementById("alarmmsg").innerHTML = msg;
                msgElem.show();
                setTimeout(function () {
                    msgElem.hide();
                }, 3000);
            }
            function ToggleVisibility(elemID) {
                //TestAlert('P1');
                var dropdownElem = $('#' + elemID);
                // TestAlert(dropdownElem);
                // dropdownElem.ToggleVisibility();
                //dropdownElem.hide();

                var isVisible = dropdownElem.is(':visible');
                //TestAlert('P2' + isVisible);
                if (isVisible === true) {
                    //  TestAlert('hiding');
                    dropdownElem.hide();
                }
                else {
                    //  TestAlert('showing');
                    dropdownElem.show();
                }
            }
            function UpdateVal(ParticipantID, DateOfClass, row, column, newVal) {
                //TestAlert('p1');
                var idText = "_" + row + "_" + column;

                // TestAlert('You selected:' + newVal);
                var dropdownElem = $('#' + "DDSpan" + idText);
                var DDRDivElem = $('#' + "DDR" + idText);

                dropdownElem.text(newVal);
                CommitChange("Input", row, column, idText, ParticipantID, DateOfClass, newVal)
                DDRDivElem.hide();
                UpdateClassTotals(row);
                // TestAlert('p1');
            }

            function CommitChange(InputMethod, row, column, idText, Participant, DateOfClass, newVal) {
                //set radio's
                //set dropdown
                //set span
                //post change

                var spanElem = $('#' + "Text" + idText);
                //var dropdownElem = $('#' + "Input" + idText);
                var dropdownElem = $('#' + "DDSpan" + idText);



                var radioName = "Radio" + idText;
                var radioTable = $('#' + "hrsRadioTable" + idText);
                var radioOther = document.getElementsByName("RadioOther" + idText)


                if (InputMethod == "Radio" && newVal < 0) {
                    dropdownElem.show();
                    radioTable.hide();
                }
                else {



                    if (InputMethod == "Radio") {
                        //dropdownElem.val(newVal);
                        dropdownElem.text(newVal);
                    }
                    else {
                        // TestAlert("DD Changed-p1");
                        var radios = document.getElementsByName(radioName)
                        for (var i = 0; i < radios.length; i++) {
                            //TestAlert(radios[i].value);
                            radios[i].checked = (radios[i].value == newVal);
                        }
                        if (newVal > 2.5) {
                            radioOther[0].checked = true;
                        }
                        else {
                            radioOther[0].checked = false;
                            // dropdownElem.hide();
                            //radioTable.show();
                        }
                    }

                    spanElem.text(newVal);
                    var cid = $('#HF_Value_ClassesDD').val()

                    $.post("http://localhost:49916/Hours/SetClassHours",
                        { Hours: newVal, ClassID: cid, PersonID: Participant, ClassDate: DateOfClass },
                        function (data) {TestAlert(data) }
                        );
                    UpdateTotalsForColumn(column);

                    TestAlert('New: ' + newVal + ', column:' + column + ',   Met?' + $('#ColumnClassMet' + column).val());
                    if ((newVal >= 0) && $('#ColumnClassMet' + column).val()=="N")
                    {
                        SetDidClassMeet(column, DateOfClass, "Y");

                        TestAlert('ClassDidMeet   After');
                    }
                    else {
                        MarkMissingHoursForColumn(column);
                    }



                    UpdateClassTotals(row);
                    DisplaySavedMessage(row);
                     TestAlert('Change Saved for Partcipant:' + Participant + "On :" + DateOfClass + "For Class: " + cid);
                }
            }
            function ToggleDidClassMeet(column, dateOfClass)
            {
                if ($('#ColumnClassMet' + column).val()=="Y")
                {
                    SetDidClassMeet(column, dateOfClass, "N")
                }
                else {
                    SetDidClassMeet(column, dateOfClass, "Y")
                }
            }
            function UncheckMe(elem)
            {
                TestAlert('HI!!!');
                elem.checked = false;
                TestAlert('BYE!!!');
            }
            function SetDidClassMeet(column,dateOfClass,didMeet)
            {
                var cid = $('#HF_Value_ClassesDD').val()
                $.post("http://localhost:49916/Hours/SetDidClassMeet",
                    { ClassID: cid, ClassDate: dateOfClass, meet: didMeet },
                    function (data) {
                       // TestAlert('ClassMetResponse:' + data)
                        if (data==true)
                        {
                            $('#ColumnClassMet' + column).val(didMeet)
                            //$(".MissingHoursDetails").hide();
                           // TestAlert('P1');
                            MarkMissingHoursForColumn(column);
                            TestAlert('Set Class Met to:'+didMeet);
                        }
                        else {
                            TestAlert('Error Saving!!! ');
                        }

                    });


            }

            GetMaxVisible();
            function GetMaxVisible() {
                MaxVisible = 3;
                var link = '@Url.Action("GetMaxVisbleJSON")';
                $.getJSON(link,
                       function (data) {
                            if (data > 0) {
                                MaxVisible = data;
                            }
                        }
                   );
                }


    

    </script>

}
