html {
    font-family: Arial;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:14px;
}
body table, div, span, a, p, th, td, tr, li, ul {
    font-size:14px;
}





.navbar-default {
    background:inherit !important;
    border: 0px !important;
}



.HeaderLogo {
    width:18%;
     float:Left;
     margin-top:10px;
     margin-left:20px;


}
.Small2Column {float:left;width:25%}
.Big2Column {float:left;width:75%}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
div.container.body-content
{
   min-height:500px;

}
footer {
      
    display:block;
    width:600px;
    min-width:100%;
    text-align:center;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.EditTextBoxWrapper {

}
select.HoursEntryInput {
   font-size:2.6em; 
}
 
.ActiveRow .ActiveColumn div.HoursEntryRadio{ 
    display:block;
}
.ActiveRow div.EditGridCell{ 
    display:none;
}
.ActiveColumn div.EditGridCell{ 
    display:none;
}
.MVLC_GridTable th.InactiveColumn div.HoursStatus a img.HoursStatusImage {
    display:block;
    height: 25px;
}
.MVLC_GridTable th.ActiveColumn div.HoursStatus a img.HoursStatusImage {
    display:block;
    height: 35px;
}
.MVLC_GridTable th div.HoursStatus div.Missing,
.MVLC_GridTable th div.HoursStatus div.HasHours,
.MVLC_GridTable th div.HoursStatus div.NoClass
  {
    display:none;
}
.MVLC_GridTable th.ActiveColumn.PastHours.MissingHours div.HoursStatus {
    margin-top:-10px;
}
.MVLC_GridTable th.PastHours.MissingHours div.HoursStatus div.Missing,
.MVLC_GridTable th.HasHours div.HoursStatus div.HasHours,
.MVLC_GridTable th.NoClass div.HoursStatus div.NoClass
  {
    display:block;
    min-height: 35px;
}
.MVLC_GridTable th.InactiveColumn div.HoursStatus div.HoursStatusActionBox {
    display:none;
}
.MVLC_GridTable th.ActiveColumn div.HoursStatus div.HoursStatusActionBox {
    display:block;
     min-height: 35px;
}

.HoursStatusActionBox input{
    line-height:.9em;
    margin-top:-5px;
    margin-bottom:-5px;

}

.HelpInfoBox 
{
    font-size:1em;
    border: 1px solid;
}

.CenterText {text-align:center}
div.HoursStatusCB { margin-top:10px;margin-left:35px;margin-right:35px; width:110px;}

.FullWidth{
    width:100%;
    min-width:100%
}
 .MVLC_GridTable th  div.HoursStatus a img.MissingHoursImage {
    
     display:none;
}
  .MVLC_GridTable th  div.HoursStatus a img.OKHoursImage {
    
     display:none;
}
  .MVLC_GridTable th  div.HoursStatus a img.NoClassImage {
    
     display:none;
}

 div.MissingHoursDetails
{
    display:none;

}
.MVLC_GridTable th.MissingHours.ActiveColumn div.MissingHours div.MissingHoursActionBox
{
    min-height: 25px;
    display:block;
}
.MVLC_GridTable th div.MissingHours div.MissingHoursActionBox
{
    display:none;
}

th.ssMissingHours div.MissingHours  {
    background-image: inherit;
     background-repeat: inherit;
  background-size: inherit;
  background-position-x: inherit;
  background-position-y: inherit;
  min-height: inherit;
  max-height: inherit;
   min-width: inherit;
  max-width: inherit;

}
.MVLC_GridTable th.MissingHours div.MissingHours div.InnerMissingHours {
}


.EditGridCell, .EditGridCellOuter {
    width:100%;
}


.EntryNameData {
    display:none;
}
.ActiveRow Div.EntryNameData {
    display:block;
    
}


.ActiveRow .ActiveColumn .HoursEntryInputSection span {display:block;}
.ActiveRow .ActiveColumn .xxx span {display:none;}


.InactiveColumn div.HoursEntryInputSection {display:none;}
.ActiveColumn div.HoursEntryInputSection {display:none;}
.ActiveRow .ActiveColumn div.HoursEntryInputSection {display:block;}

.InactiveColumn input {display:none;}
.InactiveColumn span {
         font-size:1.2em;
    font-weight:bold;
    line-height:1.9em;
   margin-top:25px;
   vertical-align:middle;
    }


table.HoursEntryRadio {
    width:212px;
    max-width:212px;
     margin-left:-2px;
    overflow-x:hidden;
}

.HoursEntryRadio td {
        width:212px;
    max-width:212px;
 overflow-x:hidden;
 margin-left:-15px;
  margin-left:-2px;
}

span.HoursEntryRadio {
    padding-right:12px;
    font-size:1.2em;
    font-weight:bold;
}


.HoursEntryRadio input{
    margin-right:0px;
     padding-left:0px;
        padding-right:0px;
}
.MVLCTable_SmallLabel {
font-size:.9em;
font-style:italic;
line-height:105%;
margin-top: -10px;
margin-bottom: 0px;
height:.92em;
font-weight:normal;
margin-left: 20px;
}
.MVLCTable_SmallHelpLabel {
    font-size: .7em;
    font-style: italic;
    line-height: .72em;
    margin-top: -10px;
    margin-bottom: 0px;
    height: .72em;
    font-weight: normal;
    margin-left: 20px;
}

.NarrowFormDiv {
margin-top: 5px;
margin-bottom: 5px;
line-height: .92em;
 font-size: .9em;
               }


.MVLCTable_SmallValue {
font-size:.9em;
font-style:normal;
line-height:105%;
height:.92em;
margin-top: -10px;
margin-bottom: 0px;
font-weight:normal;
}
.EntryNameColumn {

    width: 190px;
}

.MainGridHoursEntry table {
    max-width: 600px;
    width: 600px;
}
.HoursDataEntry {
    font-size:2em;
}


.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
/*s##############################################s*/

div.OuterCellWrap {
     width:100%;
     height:100%;
     min-height:31px;

}
div.InnerCellWrap {
   
}
.EntryDropDownText
{
    text-align:center;
}
.EntryDropDownText span, a.dropdown-toggle
{
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;

    font-size:14px;
    width:30px !important;
  max-width:30px;
    text-align:right !important;
}
.dropdown-toggle .HoursGridDropdownMenu a {
    width:49px;min-width:49px;
}
div.EntryDropDownRightOuter {
    display:block;
    min-width:80px;
    max-width:100px;
    max-height:60px;
    overflow-y:scroll;
        overflow-x:hidden;
        z-index: 9;
}
.EditGridCellOuter {
       z-index: 1;
}

div.EntryDropDownRightInner {
   
    max-width:79px;
    max-height:119px;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-left:-30px;
    margin-right:-30px;
}

.HoursGridDropdownMenu .dropdown-menu {
        max-height:0px;
    overflow-y:scroll;
    overflow-x:hidden;
    max-width:49px;
    width:49px;
}

.HoursGridDropdownMenu {
      min-width:49px !important;
            max-width:80px !important;
    width:49px !important;
    text-align:left;
}
.HoursGridDropdownMenu .caret{
    max-width:10px !important;
    min-width:1px !important;
}
ul.HoursGridDropdownMenu, .HoursGridDropdownMenu a{
    width:20px;
    max-width:20px !important;
}
.HiddenColumn div.CellWrapper,
.RightSide,
.InactiveColumn .CellWrapper div.TopLeft,
.InactiveColumn .CellWrapper div.RightSide,
.InactiveColumn .CellWrapper div.Bottom,
.InactiveColumn .CellWrapper .TopCenter div.HoursSelectDropDown,

.ActiveColumn .CellWrapper div.RightSide,
.ActiveColumn .CellWrapper div.Bottom,
.ActiveColumn .CellWrapper .TopCenter div.HoursSelectDropDown,
.ActiveRow .ActiveColumn .CellWrapper .TopCenter div.HoursViewSpan
 {display:none;}



.ActiveRow .ActiveColumn .CellWrapper div.TopLeft,
.ActiveRow .ActiveColumn .CellWrapper div.TopCenter,
.ActiveRow .ActiveColumn .CellWrapper .TopCenter div.HoursSelectDropDown,
.ActiveRow .ActiveColumn .CellWrapper div.Bottom
{
    display:block;
 max-height:45px;
 min-height:45px;
 height:45px;
 
}

div.RightSide {
     position:absolute;
      top:0px;
       right:0px;
      z-index:11;
}
div.Bottom{
        width:160px;
     min-width:160px;
     max-width:160px;
       position:absolute;
       top:45px;
       left:0px;
   z-index:5;
  
}

div.CellWrapper {
         width:160px;
     min-height:21px;
     max-width:160px;
     max-height:90px;
     min-width:50px;
     position:absolute;
     margin-top:-9px;
    
}

.CellWrapper div.TopLeft,
.CellWrapper div.TopCenter
{
    float:left;
    min-height:20px;
}

.CellWrapper div.TopCenter {
        max-width: 70px;
    min-width: 70px;
    width:70px;
}
.CellWrapper div.TopLeft,
.CellWrapper div.RightSide {
    max-width: 45px;
    min-width: 45px;
    width:45px;
}
.CellWrapper div.RightSide {
 min-height:80px;
 max-height:80px;
 height:80px;

}

a.MVCL-DropdownMenuSelector {
    text-decoration:none;
    font-size:25px;
    font-weight:bold;
     opacity:1;
}
div.HoursSelectDropDown {
     opacity:1;z-index:2;                   
}


div.MVCL-DropdownMenuSelector
{

    max-width:70px;
    min-width:70px;
    width:70px;
     text-align: center;
    
    
     /*margin: 0 auto;*/
     margin-top:3px;
 position:relative;
 left:0px;
}
div.MVCL-DropdownMenuSelectorTextContainer {
    max-width:60px;
    min-width:30px;
    /*width:60px;*/
    float:left;
    text-align:right;
     cursor: pointer;
      max-height:inherit; 
 
}
.MVCL-DropdownMenuSelectorTextContainer 
{
     text-decoration:none;
    
}

.MVCL-DropdownMenuSelectorTextContainer span
{
     margin-bottom:30px;
     padding-bottom:30px;
     vertical-align:top;
     line-height:45px;
}

div.MVCL-DropdownMenuSelectorCaretContainer {
    max-width:6px;
    min-width:6px;
    width:6px;
    float:left;
    cursor: pointer; 
    max-height:inherit;
    margin-top:10px; 
}

.MenuCaret {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
  display:inline;
  padding:0px 0px 0px 0px;
}

#TopLeftDateNav {
        text-align: Right;
        float:right;
}
#TopRightDateNav {
        text-align: Left;
        float:left;
}
.NavDirectionBox {
    /*border: 2px solid;*/
    padding-top:1em;
    /*border-radius: 45px;*/
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -14px;
    right: -3px;
    font-size: 1em;
    line-height: 1.5em;
    width: 85px;
    height: 55px;

}
.GridNavButton {
                             width: 45px;
    max-width:45px;
}
.Right.GridNavButton {float:left;position:relative;}
.Left.GridNavButton {float:right;position:relative;}
.GridNavButtonGraphic {
    width: 45px;
    max-width:45px;
    position:absolute;
     top: 31px;
     left:10px;
}
.GridNavButtonText {position:relative;
                         width: 45px;
    max-width:45px;

}

.NavDirectionCircle{
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -11px;
    right: -3px;
    font-size: 1em;
    line-height: 1.7em;
    width: 25px;
    height: 25px;
    text-align: center;
}

.HelpQuestionMark {
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -3px;
    right: -3px;
    font-size: 14px;
    line-height: 12px;
    width: 15px;
    height: 15px;
    text-align: center;
}

/* Dynamic Data Value Formats */

.DynamicValueLabel {
    font-weight:bold;
    font-style:normal;
}

.DynamicText,
.DynamicValue{
    font-weight:normal;
    font-style:italic;
}


.Large {    
    font-size:1.2em;
    font-style:normal;
}
.Small {
    font-size:.9em;
    line-height:105%;
    height:.92em;
    margin-top: -10px;
    margin-bottom: 0px;
}
  .Show {display:block;}  
  .Hide {display:none;} 

     .AlignRight{text-align:right;}
       .AlignLeft{text-align:left;}
      .NoPadding {padding:0px 0px 0px 0px !important;}